name: Deploy Nicemobil Live Frontend

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  deploy_job:
    runs-on: ubuntu-latest
    name: Build & Deploy
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Make envfile
        uses: SpicyPizza/create-envfile@v1
        with:
          envkey_MAPS_KEY: ${{ secrets.MAPS_KEY }}
          envkey_SHARE_LINK: ${{ secrets.FACEBOOK_LINK }}
          envkey_BACK_LINK: ${{ secrets.BACK_LINK }}
          envkey_BACKEND_URL: ${{ secrets.BACKEND_URL }}
          file_name: .env
      - name: Dependencies
        run: cat .env
      - name: Dependencies
        run: npm install
      - name: Build
        run: npm run build
      - name: Deploy
        uses: wlixcc/SFTP-Deploy-Action@v1.0
        with:
          username: 'lipo'
          server: '${{ secrets.NICEMOBIL_DOMAIN }}'
          ssh_private_key: ${{ secrets.NICEMOBIL_KEY }}
          local_path: './dist/*'
          remote_path: '/home/lipo/web/live.sonice.at/public_html'
          args: '-o ConnectTimeout=5'
